* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header.header_page {
  background-color: rgb(56, 15, 147);
}

header .header_icon svg {
  width: 100%;
  fill: white;
}

header .header_icon {
  width: 24px;
  margin-right: 12px;
}

header .header_label h1 {
  font-size: 1.25rem;
  color: white;
}

header .header_content {
  display: flex;
  align-items: center;
}

header {
  padding: 24px;
}

div.main_banner {
  display: flex;
  margin-top: 100px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

div.main_banner .main_banner_content {
  max-width: 400px;
}

div.main_banner .main_banner_content h1 {
  font-size: 3.25rem;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.35em;
}

div.main_banner .main_banner_content p {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px;
}

div.main_banner .main_banner_buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.primary,
.secondary {
  padding: 8px;
  outline: 0;
  border: none;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.primary {
  background-color: rgb(25, 118, 210);
  color: white;
  font-weight: bold;
}

.secondary {
  background-color: white;
  color: rgb(25, 115, 210);
}

div.cards_banner img {
  width: 260px;
  margin-top: 100px;
}

div.cards_banner {
  max-width: 1024px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

div.card_item {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

div.cards_banner .card_content {
  background-color: rgb(150, 111, 234);
  border: 1px solid #ccc;
  max-width: 260px;
  border-radius: 0.5rem;
}

div.cards_banner .card_content h1 {
  margin: 20px;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
}

div.cards_banner .card_content p {
  margin: 20px;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}

div.cards_banner .card_content .card_buttons {
  margin: 20px;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
}

footer.footer_page {
  max-width: 1024px;
  margin: 30px auto;
  text-align: center;
}

footer.footer_page h1 {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

footer.footer_page p {
  color: rgba(0, 0, 0, 0.25);
}

footer.footer_page a {
  color: rgba(0, 0, 0, 0.25);
}
